* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

header {
  color: #333333;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  text-align: center;
  color: #616161;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

button, input, select {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  border-radius: 5px;
}

input[type="text"], input[type="number"] {
  color: #616161;
  border: 1px solid #616161;
  margin-top: 10px;
}

input[type="text"] {
  width: 75%;
}

input[type="number"] {
  width: 70px;
}

input[type=text]:focus, input[type="number"]:focus, input[type="checkbox"]:focus {
  border: 1px solid #333333;
}

input[type="checkbox"] {
  height: 25px;
  width: 25px;
  color: #616161;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  *overflow: hidden;
}

input[type="checkbox"]:hover + label {
  color: #333333;
}

input[type="checkbox"]:checked {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

button {
  margin-top: 20px;
  width: 200px;
  border: none;
  outline: none;
  background-color: #616161;
  color: white;
}

button:hover, input[type="checkbox"]:hover {
  cursor: pointer;
}

button:hover {
  background-color: #333333;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  list-style: none;
  text-align: center;
}

nav {
  position: sticky;
  top: 0px;
}

a:link, a:visited {
  color: #616161;
  text-decoration: none;
}

a:hover {
  color: #333333;
  cursor: pointer;
  text-decoration: underline;
}

.options {
  margin: 10px;
}

.hidden, .null {
  display: none;
}

.images {
  border-radius: 10px;
  width: 250px;
  padding: 0;
}

#landing-button {
  margin-top: 20px;
}

#error, #food-error, #cocktail-error {
  color: #b22222;
}

#results {
  margin-top: 50px;
}

#food-results, #cocktail-results {
  margin-top: 50px;
}

#start-over {
  background-color: #b22222;
  color: white;
  border: 1px solid #b22222;
  margin-top: 10px;
}

#start-over:hover {
  background-color: white;
  color: #b22222;
  border: 1px solid #b22222;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-border: 1px solid #616161;
  -webkit-text-fill-color: #333333;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: none;
}

@media screen and (min-width: 600px) {
  body {
    width: 500px;
  }

  .options {
    display: inline;
  }

  .images {
    width: 300px;
  }

  input[type="text"] {
    width: 80%;
  }
}

@media screen and (min-width: 900px) {
  body {
    width: 600px;
  }

  .images {
    width: 400px;
  }
}

@media screen and (min-width: 1600px) {
  body {
    width: 600px;
  }

  .images {
    width: 500px;
  }
}