* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

button, input, select {
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

input[type="text"] {
  width: 100%;
}

input[type="number"] {
  width: 10%;
}

button {
  margin-top: 15px;
}

button:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

#error {
  color: red;
}

#start-over {
  float: right;
  margin-top: 5px;
}

.hidden, .null {
  display: none;
}

.images {
  border-radius: 10px;
  width: 300px;
}